@charset "UTF-8";

/*обнуляємо всі стилі на сторинці (тег * дозволє звертатись до всіх об'єктів на стринці) */

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ---end nulling style------------ */

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(47px + 53 * (100vw - 320px) / 1600);
  font-family: Montserrat;
}

.exmbem img {
  height: calc(25.5px + 14.5 * (100vw - 320px) / 1600);
  margin-right: 5px;
}

.firmName {
  flex: 0 0 auto;
  font-style: normal;
  font-weight: 700;
  margin-right: 20px;
}

.firmName_1 {
  color: rgb(1, 92, 1);
  font-size: 28px;
  letter-spacing: 0.838px;
  letter-spacing: 0.838px;
}

.firmName_2 {
  color: #221B1B;
  font-size: 19.221px;
  font-size: 19.221px;
  line-height: 87.523%;
}

.menu {
  display: flex;
  justify-content: right;
  flex: 1 1 auto;
}

.menu_body {
  display: flex;
  justify-content: space-between;
}

.menu_link {
  color: #221B1B;
  font-size: calc(12px + 4 * (100vw - 320px) / 1600);
  font-style: normal;
  font-weight: 600;
  line-height: 0.87;
  letter-spacing: 0.32px;
  padding: 0.8vw 2.8vw;
}

.menu_link a {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.blackButton {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  letter-spacing: 0.32px;
  font-style: normal;
  font-weight: 600;
  line-height: 87.523%;
  width: 153px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 50px;
  background: #221B1B;
}

.blackButton a {
  display: block;
  color: white;
  text-align: center;
}

.blackButton a:hover {
  color: yellow;
}

.whoWeAre {
  display: inline-flex;
  align-items: flex-start;
  padding-top: 40px;
  height: 605px;
  font-family: Montserrat;
}

.whoWeAreText {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vw;
  background: rgb(1, 92, 1);
  color: #FFF;
  box-shadow: 13px 16px 20px 0px rgba(83, 0, 0, 0.25), 5px 5px 12px 0px rgba(39, 0, 0, 0.35);
  padding: 2%;
  width: 501px;
}

.whoHead {
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.84px;
  padding-bottom: 40px;
}

.whoSubHead {
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 87.523%;
  letter-spacing: 0.32px;
  text-decoration: underline;
  padding-bottom: 40px;
}

.liBlock {
  display: inline-flex;
  align-items: center;
  gap: calc(10px + 10 * (100vw - 320px) / 1600);
}

.who__Ul {
  margin-bottom: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 87.523%;
  letter-spacing: 0.32px;
}

.who__LiBlockImg {
  width: 8px;
  height: 8px;
  color: #FFF;
}

.whoIMG {
  height: 605px;
  z-index: 1;
  position: relative;
  left: -50px;
  top: 50px;
}

.whoIMG img {
  height: 100%;
  width: auto;
}

.services {
  display: block;
  font-family: Montserrat;
  margin-top: 140px;
  padding-bottom: calc(20px + -20 * (100vw - 320px) / 1600);
}

.services__Header {
  color: #221B1B;
  font-size: calc(20px + 20 * (100vw - 320px) / 1600);
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.8px;
  text-align: center;
  padding-bottom: calc(20px + 10 * (100vw - 320px) / 1600);
}

.services__content {
  display: flex;
  flex-direction: column;
}

.services__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4vw;
}

.services__blockPhoto {
  flex: 0 1 60%;
  max-width: 700px;
  height: auto;
  width: 60%;
}

.block_img1 {
  transform: translate(-3vw, 0px);
}

.block_img2 {
  transform: translate(3vw, 0px);
}

.services__TextBlock {
  display: flex;
  flex: 0 1 40%;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  background: #221B1B;
  color: #FFF;
  min-width: 280px;
}

.services__TextBlockHeader {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 87.523%;
  letter-spacing: 0.2vw;
  text-decoration: underline;
  padding-bottom: 30px;
}

.serviceUl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  gap: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.28px;
}

.servliBlock {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.contacts {
  padding: 40px;
  background: rgb(1, 92, 1);
  box-shadow: 13px 16px 20px 0px rgba(83, 0, 0, 0.25), 5px 5px 12px 0px rgba(39, 0, 0, 0.35);
}

.contactsContent {
  align-items: flex-start;
  color: #FFF;
  font-family: Montserrat;
  font-style: normal;
}

.contactsHeader {
  font-size: 42px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.84px;
  padding-bottom: 50px;
}

.contactsSubHeader {
  text-decoration: underline;
  padding-bottom: 50px;
  color: rgba(255, 255, 255, 0.93);
  font-size: 16px;
  font-weight: 600;
  line-height: 87.523%;
  letter-spacing: 0.32px;
}

.contactsInfo {
  display: flex;
  justify-content: space-between;
}

.contactsInfoFirstLine {
  display: flex;
  color: #FFF;
  font-size: 24px;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 24px */
  letter-spacing: 0.48px;
  padding-bottom: 20px;
}

.contactsInfo__SecondLine {
  font-size: 16px;
  color: white;
}

.contactsInfoFirstLine img {
  padding-right: 10px;
}

.contactsInfoBlock3 {
  display: flex;
}

.contactsInfoBlock3 img {
  width: 57px;
  margin-left: 10px;
}

.contacts__mail a {
  color: white;
}

.contactsInfo__SecondLine a:link {
  color: white;
}

.contactsInfo__SecondLine a:hover {
  color: blue;
}

.contactsInfo__SecondLine a:visited {
  color: yellowgreen;
}

.footer {
  margin-top: 40px;
  height: 261px;
  flex-shrink: 0;
  background: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-size: cover; */
  /* background-position: center; */
  max-width: 100%;
  height: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.mySwiper__main,
.mySwiper__main {
  height: 100%;
  width: 100%;
}

.mySwiper__thumb,
.mySwiper2__thumb {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper__thumb .swiper-slide,
.mySwiper2__thumb .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper__thumb .swiper-slide-thumb-active,
.mySwiper2__thumb .swiper-slide-thumb-active {
  opacity: 1;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  padding-left: 91px;
  padding-right: 91px;
}

._container {
  min-width: 280px;
  max-width: 1154px;
  padding-left: calc(3px + 12 * (100vw - 320px) / 1600);
  padding-right: calc(3px + 12 * (100vw - 320px) / 1600);
  background: #FFF;
  justify-content: center;
}

.main {
  flex: 1 1 auto;
}

@media (min-width: 1281px) {
  ._container {
    margin: 0 auto;
  }
}

@media (max-width: 1154px) {
  .firmName_1 {
    font-size: calc(16px + 12 * (100vw - 320px) / 834);
  }

  .firmName_1 {
    letter-spacing: calc(0.48px + 0.358 * (100vw - 320px) / 834);
  }

  .firmName_2 {
    font-size: calc(11px + 8.221 * (100vw - 320px) / 834);
  }

  .menu_link {
    letter-spacing: calc(0.24px + 0.08 * (100vw - 320px) / 834);
  }

  .blackButton {
    letter-spacing: calc(0.24px + 0.08 * (100vw - 320px) / 834);
  }

  .blackButton {
    width: calc(101px + 52 * (100vw - 320px) / 834);
  }

  .blackButton {
    padding-top: calc(8px + 2 * (100vw - 320px) / 834);
  }

  .blackButton {
    padding-bottom: calc(8px + 2 * (100vw - 320px) / 834);
  }

  .blackButton {
    padding-left: calc(4px + 26 * (100vw - 320px) / 834);
  }

  .blackButton {
    padding-right: calc(8px + 22 * (100vw - 320px) / 834);
  }

  .blackButton {
    margin-left: calc(0px + 50 * (100vw - 320px) / 834);
  }

  .whoWeAre {
    padding-top: calc(20px + 20 * (100vw - 320px) / 834);
  }

  .whoWeAre {
    height: calc(350px + 255 * (100vw - 320px) / 834);
  }

  .whoWeAreText {
    width: calc(233px + 268 * (100vw - 320px) / 834);
  }

  .whoHead {
    font-size: calc(20px + 22 * (100vw - 320px) / 834);
  }

  .whoHead {
    letter-spacing: calc(0.4px + 0.44 * (100vw - 320px) / 834);
  }

  .whoHead {
    padding-bottom: calc(20px + 20 * (100vw - 320px) / 834);
  }

  .whoSubHead {
    font-size: calc(12px + 7 * (100vw - 320px) / 834);
  }

  .whoSubHead {
    padding-bottom: calc(20px + 20 * (100vw - 320px) / 834);
  }

  .who__Ul {
    margin-bottom: calc(10px + 10 * (100vw - 320px) / 834);
  }

  .who__Ul {
    font-size: calc(10px + 6 * (100vw - 320px) / 834);
  }

  .whoIMG {
    height: calc(215px + 390 * (100vw - 320px) / 834);
  }

  .whoIMG {
    left: calc(-150px + 100 * (100vw - 320px) / 834);
  }

  .whoIMG {
    top: calc(200px + -150 * (100vw - 320px) / 834);
  }

  .services {
    margin-top: calc(120px + 20 * (100vw - 320px) / 834);
  }

  .services__TextBlock {
    padding: calc(24px + 16 * (100vw - 320px) / 834);
  }

  .services__TextBlockHeader {
    font-size: calc(12px + 12 * (100vw - 320px) / 834);
  }

  .services__TextBlockHeader {
    padding-bottom: calc(18px + 12 * (100vw - 320px) / 834);
  }

  .serviceUl {
    font-size: calc(10px + 4 * (100vw - 320px) / 834);
  }

  .serviceUl {
    gap: calc(12px + 8 * (100vw - 320px) / 834);
  }

  .servliBlock {
    gap: calc(12px + 8 * (100vw - 320px) / 834);
  }

  .contacts {
    padding: calc(20px + 20 * (100vw - 320px) / 834);
  }

  .contactsHeader {
    font-size: calc(20px + 22 * (100vw - 320px) / 834);
  }

  .contactsHeader {
    padding-bottom: calc(20px + 30 * (100vw - 320px) / 834);
  }

  .contactsSubHeader {
    padding-bottom: calc(50px + 0 * (100vw - 320px) / 834);
  }

  .contactsSubHeader {
    font-size: calc(12px + 4 * (100vw - 320px) / 834);
  }

  .contactsInfoFirstLine {
    font-size: calc(18px + 6 * (100vw - 320px) / 834);
  }

  .contactsInfo__SecondLine {
    font-size: calc(12px + 4 * (100vw - 320px) / 834);
  }

  .contactsInfoBlock3 img {
    width: calc(42px + 15 * (100vw - 320px) / 834);
  }

  .wrapper {
    padding-left: calc(5px + 86 * (100vw - 320px) / 834);
  }

  .wrapper {
    padding-right: calc(5px + 86 * (100vw - 320px) / 834);
  }
}

@media (max-width: 767.98px) {
  .menu__bodyHide {
    display: none;
  }
}

@media (max-width: 634.98px) {
  .services__block {
    flex-direction: column;
  }

  .services__block .__OrderBlock1 {
    order: 2;
  }

  .services__block .__OrderBlock2 {
    order: 2;
  }

  .block_img1 {
    transform: translate(0vw, 0px);
  }

  .block_img2 {
    order: 2;
    transform: translate(0vw, 0px);
  }

  .services__blockPhoto {
    width: 100%;
  }

  .services__TextBlock {
    margin-bottom: 10px;
    width: 100%;
  }

  .block_text1 {
    order: 1;
  }

  .block_text2 {
    order: 1;
  }

  .contactsInfo {
    flex-direction: column;
  }

  .contactsInfo__SecondLine {
    padding-bottom: 50px;
  }
}